h1,
h2,
h3,
h4 {
    text-align: left;
    color: black;
    margin-top: unset;
    margin-bottom: unset;
}

h2 {
    margin-top: 75px;
    margin-bottom: 25px;
}

header {
    font-size: 16px;
    /* text-align: center; */
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}