
/* TODO: Load actual font: https://macunsw.wordpress.com/2009/03/18/how-to-achieve-cross-browser-font-face-support/ */
* {
    font-family: "Arabic Typesetting", "Comic Sans MS", sans-serif;
}

h1 {
    font-family: "Gabriola", serif;
}

body {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

nav ul li :not(first){
    padding: 0 1em;
}

nav {
    margin: 0;
    padding: 2% 0;
    background-color: antiquewhite;
}

footer {
    padding: 2% 0;
    background-color: rgb(8, 202, 170);
}

#content {
    margin: 0 20%;
}