
/* TODO: Load actual font: https://macunsw.wordpress.com/2009/03/18/how-to-achieve-cross-browser-font-face-support/ */
* {
    font-family: "Arabic Typesetting", "Comic Sans MS", sans-serif;
}

h1 {
    font-family: "Gabriola", serif;
}

h2 {
    color: #007d87;
}

a {
    color: black;
    text-decoration: none;
}
span {
    display: block;
}

body {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: antiquewhite;
}

td {
    vertical-align: top;
}

nav>ul>li ul {
    display: none;
}

nav>ul>li:hover ul {
    display: block;
}

nav>ul>li:not(first){
    padding: 0 1em;
}

nav {
    margin: 0;
    padding: 2% 0;
}

footer {
    padding: 2% 0;
    background-color: rgb(8, 202, 170);
}

#content {
    margin: 0 20%;
}

#logo {
    width: 100%;
    height: auto;
}

.gallery {
    max-height: 400px;
    opacity: 0.5;
}
.gallery.main {
    max-height: 600px;
    opacity: 1;
}

.gallery.hidden {
    display: none;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    object-fit: cover;
    float: left;
    width: 28%;
    height: 450px;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .cover{
      object-fit: cover;
  }