@font-face {
    font-family: 'Mignon-Regular';
    src:url('assets/font/Mignon-Regular.ttf.woff') format('woff'),
        url('assets/font/Mignon-Regular.ttf.svg#Mignon-Regular') format('svg'),
        url('assets/font/Mignon-Regular.ttf.eot'),
        url('assets/font/Mignon-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Mignon-Regular', "Comic Sans MS", sans-serif;
}

h1 {
    font-family: "Gabriola", serif;
}

h2 {
    color: #007d87;
}

a {
    color: black;
    text-decoration: none;
}
span {
    display: block;
}

body {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    background-color: antiquewhite;
}

td {
    vertical-align: top;
}

nav>ul>li ul {
    display: none;
}

nav>ul>li:hover ul {
    display: block;
}

nav>ul>li:not(first){
    padding: 0 1em;
}

nav {
    margin: 0;
    padding: 2% 0;
}

footer {
    padding: 2% 0;
    background-color: rgb(8, 202, 170);
}

#content {
    margin: 0 20%;
}
#head {
    position: relative;
}

#branding {
    position: absolute;
    top:0;
}

#logo {
    width: 100%;
    height: auto;
}

.gallery {
    max-height: 400px;
    opacity: 0.5;
}
.gallery.main {
    max-height: 600px;
    opacity: 1;
}

.gallery.hidden {
    display: none;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    object-fit: cover;
    float: Left;
    width: 28%;
    height: 450px;
    padding: 5px;
  }

  .columnSmall {
      object-fit: cover;
      display: block;
      margin-top: 9%;
      margin-bottom: auto;
      padding: 5px;
      height: 300px;
      width: 20%;
      float: Left;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .cover{
      object-fit: cover;
  }